<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Andrew is Neat</title>
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/style-bulma.css" %}"> 

  <!-- Bulma Version 0.7.4-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css.map" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
  
  <!-- Bulma Modals-->
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
  
</head>

<body>
  <!-- Navigation bar -->
  <nav class="navbar is-link is-fixed-top menu-bg-bul" style="padding: 1.5rem;">
      <!-- Navigation Bar Start/Brand -->
      <div class ="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="#home">
                <span style="font-size: 2em; font-weight: 700">ACW</span>
            </a>
            </div>

      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>


    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <!-- Navigation Bar End -->
      <div class="navbar-end" style="font-size: 1.2em; font-weight: 700" >
        <a class="navbar-item" href="#services">
            <div class="content is-uppercase">Services</div>
        </a>
        <a class="navbar-item is-uppercase" href="#portfolio">
            Portfolio
        </a>
        <a class="navbar-item is-uppercase" href="#about-me">
            About me
        </a>
        <a class="navbar-item is-uppercase" href="#contact">
            Contact
        </a>
      </div>
    </div>
    </div>
  </nav>

  <!-- Header -->
  <section class="hero is-link is-medium center-v bg-primary-bul">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="has-text-weight-bold hero-header-text-bul" style="padding-bottom: 1rem;">
             Andrew Wright
            </div>
            <hr style="width: 35%; margin: 0 auto; border: 0; border-top-width: 1px solid rgba(0,0,0.1);">
        <div class="columns" style="padding-top: 2rem; padding-bottom:2rem;">
            <div class="column is-size-4">
                Web Developer
                </div>
            <div class="column is-size-4">
                Online Marketing Expert
                </div>
            <div class="column is-size-4">
                Web Designer
                </div>
            </div>
        </div>
    </div>

  </section>


<section class="page-bg-bul" style="padding-top: 6rem; padding-bottom: 1rem;">
  <div class="container">
    <div class="card card-box-shadow" style="margin-left: 8em; margin-right: 8rem;">
      <div class="card-content">
    <div class="columns has-same-height is-gapless" >
      <div class="column is-one-quarter ">
        <tr>
          </tr>
          <td>
                    <!-- Profile -->
            <figure class="image-profile-me">
              <img src="{% static "img/acw-profile-pic1.png" %}" alt="my-pic">
            </figure>
          </td>
        </tr>
        </div>

      <div class="column">
            <div class="content">
                <div class="about-me">
                  <p><span class="skill-bold-title-bul">Name:&nbsp;</span><span>Andrew Wright</span></p>
                  <p><span class="skill-bold-title-bul">Profile:&nbsp;</span><span>Front-end Developer</span></p>
                  <p><span class="skill-bold-title-bul">Email:&nbsp;</span><span class="link-text-color"><a href="mailto:andrewcraigwright@gmail.com">andrewcraigwright@gmail.com</a></span></p>
                  <p><span class="skill-bold-title-bul">Phone:&nbsp;</span><span class="link-text-color"><a href="tel:5629805310">(562) 980 - 5310</a></span></p>
                </div>
            </div>
            <br>
          </div>
      
      <div class="column">
        
        <!-- Profile -->
        
            <div class="content has-text-centered">
             <h1 class="title-about-me-bul is-uppercase">Hello World</h1>
             <p class="about-me-text-bul">Thank you for taking time to visit my portfolio! I used Bootstrap, Django and Heroku to create it.</p>
             <p><span class="link-text-color"><a href="https://www.google.com">See site with Bootstrap 4 instead of Bulma</a></span></p>
            </div>
            <br>
          </div>
        </div>
        
        
          <!-- Skills -->
          <div class="content">
              <h1 class="has-text-centered is-uppercase title-about-me-bul">Skills</h1>
          </div>

                
          <div class="content">
            
            <p class="is-uppercase skill-bold-title-bul">Website Design</p>

            <article class="media">
              <div class="media-content">
                <div class="content about-me-text-bul">
                  <p >
                    HTML5 & CSS3
                    <!-- change primary to #1cabb4?  is-primary -->
                    <progress class="progress progress-bg-bul" value="90" max="100"></progress>
                  </p>
                </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content about-me-text-bul">
                  <p>
                    Javascript
                    <progress class="progress progress-bg-bul" value="90" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content about-me-text-bul">
                  <p>
                    Bootstrap & Bulma
                    <progress class="progress progress-bg-bul" value="75" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>
          </div>

          
          
                    
          <p class=" is-uppercase skill-bold-title-bul">Backend System / Database</p>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p >
                  Python / Django
                  <!-- change primary to #1cabb4?  is-primary -->
                  <progress class="progress progress-bg-bul" value="90" max="100"></progress>
                </p>
              </div>
          </article>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p>
                  SQL / Postres
                  <progress class="progress progress-bg-bul" value="90" max="100"></progress>
                </p>
              </div>
            </div>
          </article>

          
          <p class=" is-uppercase skill-bold-title-bul">Meetings / Event Registration Management</p>
          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p >
                  Cvent
                  <!-- change primary to #1cabb4?  is-primary -->
                  <progress class="progress progress-bg-bul" value="90" max="100"></progress>
                </p>
              </div>
          </article>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p>
                  Aventri
                  <progress class="progress progress-bg-bul" value="90" max="100"></progress>
                </p>
              </div>
            </div>
          </article>

          
        <p class=" is-uppercase skill-bold-title-bul">Graphic / Image & Movie Editing</p>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p >
                  Adobe Photoshop
                  <!-- change primary to #1cabb4?  is-primary -->
                  <progress class="progress progress-bg-bul" value="90" max="100"></progress>
                </p>
              </div>
          </article>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p>
                  Affinity Photo
                  <progress class="progress progress-bg-bul" value="90" max="100"></progress>
                </p>
              </div>
            </div>
          </article>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p>
                  Gimp
                  <progress class="progress progress-bg-bul" value="75" max="100"></progress>
                </p>
              </div>
            </div>
          </article>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p>
                  Adobe Premier
                  <progress class="progress progress-bg-bul" value="95" max="100"></progress>
                </p>
              </div>
            </div>
          </article>

          
          
          <p class=" is-uppercase skill-bold-title-bul">Online / Web Marketing</p>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p >
                  Salesforce / Hubspot / Agile CRM
                  <!-- change primary to #1cabb4?  is-primary -->
                  <progress class="progress progress-bg-bul" value="90" max="100"></progress>
                </p>
              </div>
          </article>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p>
                  Survey Monkey
                  <progress class="progress progress-bg-bul" value="90" max="100"></progress>
                </p>
              </div>
            </div>
          </article>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p>
                  MailChimp / Constant Contact
                  <progress class="progress progress-bg-bul" value="75" max="100"></progress>
                </p>
              </div>
            </div>
          </article>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p>
                  Prezi
                  <progress class="progress progress-bg-bul" value="95" max="100"></progress>
                </p>
              </div>
            </div>
          </article>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p>
                  Google Analytics / Adsense
                  <progress class="progress progress-bg-bul" value="66" max="100"></progress>
                </p>
              </div>
            </div>
          </article>
          
         
          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p>
                  Facebook & Instagram Ads
                  <progress class="progress progress-bg-bul" value="66" max="100"></progress>
                </p>
              </div>
            </div>
          </article>
          
          
          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p>
                  Bing / LinkedIn Ads
                  <progress class="progress progress-bg-bul" value="66" max="100"></progress>
                </p>
              </div>
            </div>
          </article>
          
                    
          <p class=" is-uppercase skill-bold-title-bul">Gaming & Animation</p>
          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p >
                  Construct 3
                  <!-- change primary to #1cabb4?  is-primary -->
                  <progress class="progress progress-bg-bul" value="90" max="100"></progress>
                </p>
              </div>
          </article>

          <article class="media">
            <div class="media-content">
              <div class="content about-me-text-bul">
                <p>
                  Godot 3
                  <progress class="progress progress-bg-bul" value="90" max="100"></progress>
                </p>
              </div>
            </div>
          </article>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</section>


  <!-- Skills tags -->
  <!-- <br>
        <div class="tags custom-tags">
          <span class="tag is-light">Node.js</span><span class="tag is-light">Express.js</span><span class="tag is-light">VueJS</span><span
            class="tag is-light">JavaScript</span><span class="tag is-light">HTML5</span><span class="tag is-light">Canvas</span><span
            class="tag is-light">CSS3</span><span class="tag is-light">Bulma</span><span class="tag is-light">Bootstrap</span><span
            class="tag is-light">jQuery</span><span class="tag is-light">Pug</span><span class="tag is-light">Stylus</span><span
            class="tag is-light">SASS/SCSS</span><span class="tag is-light">Webpack</span><span class="tag is-light">Git</span><span
            class="tag is-light">ASP.NET Web Forms</span><span class="tag is-light">MSSQL</span><span class="tag is-light">MongoDB</span><span
            class="tag is-light">Apache Cordova</span><span class="tag is-light">Chrome Extensions</span>
        </div> -->






  <!-- Services -->
  <br>
  <div id="services"></div>
  <section class="section page-bg-bul">
    <div class="section-heading">
      <h2 class="is-size-2 has-text-centered is-uppercase title-main-bul header-bp">Services</h2>
       <!--<hr style="width: 20%; padding-top: 0px;padding-bottom: 0px;margin-top: 30px;">-->
        <!--<hr style="width: 45%; margin: 0 auto; border: 0; border-top-width: 1px solid rgba(0,0,0.1);">-->
    </div>
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column ">
          <div class="box"><i class="card-service-icon fa fa-tv icon"></i>
            <div class="content">
              <h4 class="title card-service-header">Responsive Design</h4>
                <p class="card-service-p-text">I mainly use the Bootstrap & Bulma frameworks to create a modern, light & responsive websites.</p>
            </div>
          </div>
        </div>
        
  
        <div class="column as-text-centered">
          <div class="box"><i class="card-service-icon fa fa-code icon"></i>
            <div class="content">
              <h4 class="title card-service-header">Web Development</h4>
                <p class="card-service-p-text">I try to keep up-to-date with all web development, but I focus on HTML5, CSS3, JS, Wordpress, Django/Python.</p>
            </div>
          </div>
        </div>
        <div class="column as-text-centered">
          <div class="box"><i class="card-service-icon fa fa-bar-chart-o icon"></i>
            <div class="content">
              <h4 class="title card-service-header">Marketing</h4>
                <p class="card-service-p-text">The website is not all for nothing. With tools like Google Analytics, you'll be able to understand your viewer's likes & trends.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column as-text-centered">
          <div class="box"><i class="card-service-icon fa fa-gears icon"></i>
            <div class="content">
              <h4 class="title card-service-header">Automation</h4>
                <p class="card-service-p-text">With Python and other online tools I can automate webforms, use APIs to cut down on business flow and so much more!</p>
            </div>
          </div>
        </div>
                <div class="column as-text-centered">
          <div class="box"><i class="card-service-icon fa fa-group icon"></i>
            <div class="content">
              <h4 class="title card-service-header">Group Management</h4>
                <p class="card-service-p-text">I've used or tested out nearly all meeting/group management software, but I specialize in both Cvent & Aventri.</p>
            </div>
          </div>
        </div>
        <div class="column as-text-centered">
          <div class="box"><i class="card-service-icon fa fa-pie-chart icon"></i>
            <div class="content">
              <h4 class="title card-service-header">Analytics</h4>
                <p class="card-service-p-text">Reports that will tell more about how your website viewers think. Group registration reports with Cvent & Aventri. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Portfolio -->
  <br>
  <div id="portfolio"></div>
  <section class="section page-bg-bul">
    <div class="section-heading">
      <h2 class="is-size-2 has-text-centered is-uppercase title-main-bul header-bp">Portfolio</h2>
       <!--<hr style="width: 20%; padding-top: 0px;padding-bottom: 0px;margin-top: 30px;">-->
        <!--<hr style="width: 45%; margin: 0 auto; border: 0; border-top-width: 1px solid rgba(0,0,0.1);">-->
    </div>
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column ">
        <div class="card">
          <div class="card-image">
            <div class="port-box">
              <div class="modal-button" data-target="portfolio-modal-1">
              <div class="port-img"><img src="{% static "img/jtb-meetings-events-website.png" %}" class="img-fluid"></div>
          </div>
      </div>
    </div>
  <div class="card-content">
    <div class="content">
      <div class="port-content">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <h3>JTB USA</h3>
                      <div class="w-more"><span class="w-category">Bootstrap 4</span></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  
  
<div class="column as-text-centered">
<div class="card">
  <div class="card-image">
  <div class="port-box">
              <div class="modal-button" data-target="portfolio-modal-2">
              <div class="port-img"><img src="{% static "img/geodesic-japan-forum-website.png" %}" class="img-fluid"></div>
          </div>
      </div>
  </div>
  <div class="card-content">

    <div class="content">
              <div class="port-content">
                  <div class="row">
                      <div class="col-sm-12 text-center">
                          <h3>GEODESIC FORUM</h3>
                          <div class="w-more"><span class="w-category">WordPress</span></div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
      <div class="columns">
        <div class="column ">
<div class="card">
  <div class="card-image">
    <div class="port-box">
              <div class="modal-button" data-target="portfolio-modal-3">
              <div class="port-img"><img src="{% static "img/eastflatsfilm-website.png" %}" class="img-fluid"></div>
          </div>
      </div>
  </div>
  <div class="card-content">
    <div class="content">
                    <div class="port-content">
                  <div class="row">
                      <div class="col-sm-12 text-center">
                          <h3>EAST FLATS FILM</h3>
                          <div class="w-more"><span class="w-category">WordPress</span></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
        
  
<div class="column as-text-centered">
<div class="card">
  <div class="card-image">
      <div class="port-box">
              <div class="modal-button" data-target="portfolio-modal-4">
              <div class="port-img"><img src="{% static "img/usa-eagles-tours-website.png" %}" class="img-fluid"></div>
          </div>
      </div>
  </div>
  <div class="card-content">
    <div class="content">
            <div class="port-content">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3>USA EAGLES TOURS</h3>
                        <div class="w-more"><span class="w-category">WordPress</span></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Achievement Level -->
  <!-- <section class="section">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Tweets</p>
          <p class="title">3,456</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Following</p>
          <p class="title">123</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Followers</p>
          <p class="title">456K</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Likes</p>
          <p class="title">789</p>
        </div>
      </div>
    </nav>
  </section> -->

  <!-- About -->
  <br>
  <div id="about-me"></div>
  <section class="page-bg-bul">  
  <div class="bulma-features-blue">
        <div class="container" style="padding-top: 25px;">
            <!-- Start: Intro -->
            <div class="intro"></div>
            <!-- End: Intro -->
            <!-- Start: Intro -->
            <div class="intro">
                <h1 class="is-size-2 has-text-centered is-uppercase title-about-bul header-bp">MORE&nbsp;ABOUT ME</h1>
                <p class="has-text-centered">If you haven't had enough of me then here is a little bit more...</p>
            </div>
            <!-- End: Intro -->
            <!-- Start: Features -->
            <div class="columns">
                <div class="column item" data-aos="fade-up" data-aos-duration="1100" data-aos-delay="100" data-aos-once="true"><i class="fa fa-gamepad icon"></i>
                    <h3 class="name">Video Games</h3>
                    <p class="description">I've had a game controller in my hands from as long as I can remember.</p>
                </div>
                <div class="column item" data-aos="fade-up" data-aos-duration="1100" data-aos-delay="300" data-aos-once="true"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Time&nbsp;</h3>
                    <p class="description">If I could have any super power it would be able to control time!&nbsp;</p>
                </div>
                <div class="column item" data-aos="fade-up" data-aos-duration="1100" data-aos-delay="500" data-aos-once="true"><i class="fa fa-location-arrow icon"></i>
                    <h3 class="name">GPS</h3>
                    <p class="description">I'm really bad with directions. If I didn't have GPS, I think I'd be lost driving now...</p>
                </div>
                </div>
            <div class="columns">    
                <div class="column item" data-aos="fade-up" data-aos-duration="1100" data-aos-delay="700" data-aos-once="true"><i class="fa fa-tint icon"></i>
                    <h3 class="name">Give Blood</h3>
                    <p class="description">It is a simple way to give back to others and the cookies and juice is always a plus!</p>
                </div>
                <div class="column item" data-aos="fade-up" data-aos-duration="1100" data-aos-delay="900" data-aos-once="true"><i class="fa fa-plane icon"></i>
                    <h3 class="name">Travel</h3>
                    <p class="description">Through my work I've been able see such beautiful places from around the world.</p>
                </div>
                <div class="column item" data-aos="fade-up" data-aos-duration="1100" data-aos-delay="1100" data-aos-once="true"><i class="fa fa-battery-quarter icon"></i>
                    <h3 class="name">Battery Life</h3>
                    <p class="description">Nothing scares like the low battery life icon. Well.Sharks! Sharks are really scary!</p>
                </div>
            </div>
            <!-- End: Features -->
        </div>
    </div> 
    </section>
    
    
    
    <!-- Resume -->
  <!--<section class="section" id="resume">-->
  <!--  <div class="section-heading">-->
  <!--    <h3 class="title is-2">Resume</h3>-->
  <!--    <h4 class="subtitle is-5">More about my past</h4>-->
  <!--    <a href="#" class="button is-link is-medium">-->
  <!--      <span class="icon">-->
  <!--        <i class="fas fa-file-alt"></i>-->
  <!--      </span>-->
  <!--      <span>Download My Resume</span>-->
  <!--    </a>-->
  <!--  </div>-->
  <!--</section>-->
  
    
    
    
     <!-- Contact Me -->

      <br>
      <div id="contact"></div>
      <section>
        <div class="container" style="padding-top: 3rem; padding-bottom: 3rem;">
            <h2 class="is-size-2 has-text-centered is-uppercase title-main-bul header-bp">Contact Me</h2> 
            <!--<hr class="mb-5" style="width: 20%;">-->
            <div class="columns">
              <div class="column">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Name">
                    </div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <input class="input" type="email" placeholder="Email Address">
                        </div>
                        </div>
                    <div class="field">
                  <div class="control">
                  <input class="input" type="text" placeholder="Phone Number">
                  </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <textarea class="textarea" placeholder="Message"></textarea>
                                </div>
                      </div>
                      <div class="control">
                <button class="button is-primary is-large"><span class="icon">
                    <i class="fas fa fa-envelope"></i>
                  </span>
                  <span>Send</span></button>
                  </div>
                </div>
            </div>
        </div>
    </section>


  <!-- Footer -->
  <footer class="footer text-center footer-bulma" style="background-color: #2c3e50;">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p>Los Angeles, California</p>
            </div>
            <div class="column">
                <h4 class="text-uppercase">INTERNET PLACES</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="https://www.linkedin.com/in/andrew-wright-4b841014/" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="https://github.com/Jappandy" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
                </ul>
            </div>
            <div class="column">
                <h4 class="text-uppercase mb-4">MADE WITH BOOTSTRAP 4</h4>
                <p class="lead mb-0"><span><a href="https://bulma.io/" >See how this site looks with Bulma!</a></span></p>
            </div>
        </div>
    </div>
</footer>
  
  
    <div class="copyright text-white has-text-centered">
        <div class="container"><small>ACW 2019</small></div>
    </div> 
    

  
  
  
  <!-- Modals -->
    <div class="modal modal-full-screen modal-fx-fadeInScale text-center" id="portfolio-modal-1">
          <div class="modal-content modal-card">
              <header class="modal-card-head has-text-centered">
                <h2 class="text-uppercase text-secondary modal-card-title">JTB USA</h2>
                <button class="modal-button-close is-large delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                      <div class="columns">
                          <div class="column">
                            <div class="container has-text-centered">
                              <img class="img-fluid mb-5" src="{% static "img/jtbusa-meetingsevents-monitor.png" %}">
                              <p class="mb-5"><strong>WEB CREATION &amp; DESIGN</strong><br>&nbsp;HTML5, CSS3, JS &nbsp;(Bootstrap 4 Framework)<br><br><strong>MARKETING</strong>&nbsp;<br>&nbsp;Google Adwords &amp; AdSense, LinkedIn Ads, Facebook ads.&nbsp;<br><br><strong>OTHER ADD-ONS</strong>&nbsp;&nbsp;<br>&nbsp;Online
                                  Agent Message Chat Box<br>Online Forms to connect to API / Email<br><br><strong>REPORTS / ANALYTICS</strong>&nbsp;&nbsp;<br>&nbsp;Google Analytics<br><br><br><a href="https://www.jtbusa.com/meetings-events" target="_blank">JTB USA | Meetings &amp; Events</a></p>
                          </div>
                      </div>
                  </div>
              </section>
              <footer class="modal-card-foot">
        
              </footer>
          </div>
      </div>
      
      
      <div class="modal modal-full-screen modal-fx-fadeInScale text-center" id="portfolio-modal-2">
            <div class="modal-content modal-card">
                <header class="modal-card-head has-text-centered">
                  <h2 class="text-uppercase text-secondary modal-card-title">GEODESIC JAPAN FORUM</h2>
                  <button class="modal-button-close is-large delete" aria-label="close"></button>
                  </header>
                  <section class="modal-card-body">
                        <div class="columns">
                            <div class="column">
                              <div class="container has-text-centered">
                                <img class="img-fluid mb-5" src="{% static "img/geodesic-japan-forum-monitor.png" %}">
                                <p class="mb-5"><span></span>&nbsp;<strong>WEB CREATION &amp; DESIGN</strong><br>&nbsp;HTML5, CSS, JS &nbsp;(WordPress Framework)<br><br><strong>OTHER ADD-ONS</strong>&nbsp;&nbsp;<br>Online Forms to connect to API / Email<br><br><strong>REPORTS / ANALYTICS</strong>&nbsp;&nbsp;<br>&nbsp;Google
                                    Analytics<br><br><br><a href="http://geodesicjapanforum2019.com/" target="_blank">Geodesic Japan Forum (2019)</a></p>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
          
                </footer>
            </div>
        </div>
        
        
      <div class="modal modal-full-screen modal-fx-fadeInScale text-center" id="portfolio-modal-3">
            <div class="modal-content modal-card">
                <header class="modal-card-head has-text-centered">
                  <h2 class="text-uppercase text-secondary modal-card-title">EAST FLATS FILM</h2>
                  <button class="modal-button-close is-large delete" aria-label="close"></button>
                  </header>
                  <section class="modal-card-body">
                        <div class="columns">
                            <div class="column">
                              <div class="container has-text-centered">
                                <img class="img-fluid mb-5" src="{% static "img/eastflatsfilm-doritos-monitor.png" %}">
                                <p class="mb-5"><strong>WEB CREATION &amp; DESIGN</strong><br>&nbsp;HTML5, CSS3, JS &nbsp;(WordPress Framework)<br><br><strong>MARKETING</strong>&nbsp;<br>&nbsp;Google Adwords &amp; AdSense, LinkedIn Ads, Facebook ads.&nbsp;<br><br><strong>OTHER ADD-ONS</strong>&nbsp;&nbsp;<br>Online
                                    Forms to connect to CRM's API / Email<br><br><strong>REPORTS / ANALYTICS</strong>&nbsp;&nbsp;<br>&nbsp;Google Analytics<br><br><br><a href="https://eastflatsfilm.com/" target="_blank">East Flats Film</a></p>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                </footer>
            </div>
        </div>
        
        
      <div class="modal modal-full-screen modal-fx-fadeInScale text-center" id="portfolio-modal-4">
          <div class="modal-content modal-card">
            <header class="modal-card-head has-text-centered">
                <h2 class="text-uppercase text-secondary modal-card-title">USA EAGLES TOURS RUGBY</h2>
                <button class="modal-button-close is-large delete" aria-label="close"></button>
              </header>
            <section class="modal-card-body">
                <div class="columns">
                    <div class="column">
                        <div class="container has-text-centered">
                          <img class="img-fluid mb-5" src="{% static "img/usaeaglestours-rugby-monitor.png" %}">
                                <p class="mb-5"><strong>WEB CREATION &amp; DESIGN</strong><br>&nbsp;HTML5, CSS3, JS &nbsp;(WordPress Framework)<br><br><strong>OTHER ADD-ONS</strong>&nbsp;&nbsp;<br>Online Forms to connect to API / Email<br><br><strong>MEASURE/REPORTS/ANALYTICS</strong>&nbsp;&nbsp;<br>&nbsp;Google
                                    Analytics<br><br><br><a href="http://usaeaglestours.info/" target="_blank">USA Eagles Tours | Rugby World Cup Japan 2019</a></p>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                </footer>
            </div>
        </div>
      
        
    
    
    
  

<script type="text/javascript" src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
</body>



</html>
